<navbar></navbar>

<breadcrumbs
	contests="true"
	contest="vm.contest"
	problem="vm.problem"
	extra="[{
		label: 'Execuções',
		url:   vm.urlFilter('contest.problem.solutionRun.list', vm.contest.nickname, vm.problem.nickname)
	}, {
		label: 'Execução ' + vm.runNumber
	}]"
></breadcrumbs>

<div id="view-solutionRun">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="page-title">Execução {{ vm.runNumber }}</h2>
			</div>
		</div>

		<run-result-table
			problem="vm.problem"
			test-cases="vm.problem.test_cases"
			run-number="vm.runNumber"
		></run-result-table>
	</div>
</div>