<navbar></navbar>

<breadcrumbs
	contests="true"
	contest="vm.contest"
	problem="vm.problem"
	solution="vm.solution"
></breadcrumbs>

<div id="view-solution">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="page-title">{{ vm.solution.name }}</h2>
			</div>
		</div>

		<!-- info -->
		<div class="row">
			<div class="col-12">
				<p>Linguagem: {{ vm.solution.current.language.label }}</p>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<p>Código fonte:</p>
				<pre>{{ vm.solution.current.source_code }}</pre>
			</div>
		</div>
	</div>

	<!-- actions -->
	<div class="container action-list">
		<div class="row">
			<div class="col-12">
				<a
					class="btn btn-primary float-right"
					role="button"
					ng-href="{{ 'contest.problem.solution.edit' | url : vm.contest.nickname : vm.problem.nickname : vm.solution.nickname }}"
				>Editar solução</a>
			</div>
		</div>
	</div>
</div>