<navbar></navbar>

<breadcrumbs
	ng-if="!vm.loading"

	contests="true"
	contest="vm.contest"
	problem="vm.problem"
	test-case="vm.test_case"
></breadcrumbs>

<div id="view-test-case">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="page-title">#{{ vm.test_case.order }} caso de teste</h2>
			</div>
		</div>

		<!-- info -->
		<div class="row">
			<div class="col-6">
				<p>Entrada:</p>
				<pre>{{ vm.test_case.input }}</pre>

				<button
					ng-if="vm.test_case.input_text_id && !vm.inputLoaded"

					type="button"
					class="btn btn-link"
					ng-click="vm.loadMore('input');"
					ng-disabled="vm.inputLoading"
				>Carregar entrada completa</button>
			</div>

			<div class="col-6">
				<p>Saída:</p>
				<pre>{{ vm.test_case.output }}</pre>

				<button
					ng-if="vm.test_case.output_text_id && !vm.outputLoaded"

					type="button"
					class="btn btn-link"
					ng-click="vm.loadMore('output');"
					ng-disabled="vm.outputLoading"
				>Carregar saída completa</button>
			</div>
		</div>
	</div>

	<!-- actions -->
	<div class="container action-list">
		<div class="row">
			<div class="col-12">
				<a
					class="btn btn-primary float-right"
					role="button"
					ng-href="{{ 'contest.problem.testCase.edit' | url : vm.contest.nickname : vm.problem.nickname : vm.test_case.id }}"
				>Editar caso de teste</a>
			</div>
		</div>
	</div>
</div>