<navbar></navbar>

<breadcrumbs
	ng-if="!vm.loading"

	contests="true"
	contest="vm.contest"
	problem="vm.problem"
	test-case="vm.testCase"
	edit="true"
></breadcrumbs>

<div class="container">
	<div class="row">
		<div class="col-12">
			<h1 class="page-title">Editar caso de teste</h1>
		</div>
	</div>

	<form novalidate name="testCaseForm" ng-submit="vm.submit(vm.form);">
		<div class="row">
			<div class="col-6">
				<div class="form-group">
					<textarea 
						type="text" 
						name="input" 
						ng-model="vm.form.input"
						class="form-control"
						id="test-case-input"
						placeholder="Entrada" 
						ng-required="true" 
						ng-disabled="vm.form.inputFile"
						ng-trim="false"
						rows="6"
						maxlength="1024"
					></textarea>

					<single-attachment
						file="vm.form.inputFile"
						custom-attach-text="'Carregar de arquivo'"

						signed-download-callback="vm.getSignedDownloadCallback('input')"
						signed-upload-callback="vm.getSignedUploadCallback('input', file)"
						after-upload-callback="vm.afterUploadCallback('input', file)"
						remove-callback="vm.removeCallback('input')"
					></single-attachment>
				</div>
			</div>

			<div class="col-6">
				<div class="form-group">
					<textarea
						type="text" 
						name="output" 
						ng-model="vm.form.output"
						class="form-control"
						id="test-case-output"
						placeholder="Saída" 
						ng-required="true" 
						ng-disabled="vm.form.outputFile"
						ng-trim="false"
						rows="6"
						maxlength="1024"
					></textarea>

					<single-attachment
						file="vm.form.outputFile"
						custom-attach-text="'Carregar de arquivo'"

						signed-download-callback="vm.getSignedDownloadCallback('output')"
						signed-upload-callback="vm.getSignedUploadCallback('output', file)"
						after-upload-callback="vm.afterUploadCallback('output', file)"
						remove-callback="vm.removeCallback('output')"
					></single-attachment>
				</div>
			</div>
		</div>

		<div class="row" ng-if="vm.currentUploadingCount">
			<div class="col-12">
				<p>Aguardando upload de {{ vm.currentUploadingCount }} arquivo(s).</p>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<a
					role="button"
					class="btn btn-secondary"
					ng-href="{{ 'contest.problem.testCase.view' | url : vm.contest.nickname : vm.problem.nickname : vm.testCase.id }}"
				>Cancelar</a>
				<button 
					type="submit" 
					class="btn btn-primary"
					ng-disabled="testCaseForm.$invalid || vm.currentUploadingCount"
				>Salvar</button>
			</div>
		</div>
	</form>
</div>