<navbar></navbar>

<breadcrumbs
	contests="true"
	contest="vm.contest"
	problem="vm.problem"
></breadcrumbs>

<div id="view-problem">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="page-title">{{ vm.problem.name }}</h2>
			</div>
		</div>

		<!-- info -->
		<div class="row">
			<div class="col-12">
				<p>Descrição: {{ vm.problem.current.description }}</p>
			</div>
			<div class="col-12">
				<p>Tempo limite: {{ vm.problem.current.time_limit }}</p>
			</div>
		</div>
	</div>

	<!-- solutions list -->
	<div class="container solutions-list">
		<div class="row">
			<div class="col-12">
				<h4>Soluções:</h4>
			</div>
		</div>

		<generic-list
			items="vm.problem.solutions"
			no-items-message="'Nenhuma solução cadastrada.'"
			headers="[
				{ label: 'Nome',            class: 'col-4' },
				{ label: 'Casos validados', class: 'col-4' },
				{ label: 'Ações',           class: 'col-4' }
			]"
			parent="vm"
		>
			<div class="row">
				<div class="col-4">
					<a 
						ng-href="{{ 'contest.problem.solution.view' | url : list.parent.contest.nickname : list.parent.problem.nickname : item.nickname }}"
					>{{ item.name }}</a>
				</div>
				<div class="col-4">
					<span ng-if="!item.validatedTestCases">
						{{ item.validatedTestCases }}/{{ list.parent.problem.test_cases.length }}
					</span>
					<a
						ng-if="item.validatedTestCases"
						ng-href="{{ 'contest.problem.solution.run.list' | url : list.parent.contest.nickname : list.parent.problem.nickname : item.nickname }}"
					>{{ item.validatedTestCases }}/{{ list.parent.problem.test_cases.length }}</a>
				</div>
				<div class="col-4">
					<!-- remover -->
					<button
						class="btn btn-danger"
						type="button"
						modal-confirm="list.parent.deleteSolution(item)"
						modal-confirm-title="'Remover solução'"
						modal-confirm-body="'Tem certeza que deseja remover esta solução?'"
					>
						<i class="fa fa-trash" aria-hidden="true"></i>
					</button>

					<!-- validar -->
					<button
						class="btn btn-primary"
						ng-class="{ 'loading-button': item.validation && item.validation.status == 'waiting' }"
						type="button"
						ng-click="list.parent.runSolution($index)"
						ng-disabled="
							item.validatedTestCases == list.parent.problem.test_cases.length
							|| (item.validation && item.validation.status == 'waiting')
						"
					>
						<img
							ng-if="item.validation && item.validation.status == 'waiting'"
							src="assets/images/ripple.svg"
						>
						<i
							ng-if="!item.validation || item.validation.status != 'waiting'"
							class="fa fa-check" 
							aria-hidden="true"
						></i>
					</button>
				</div>
			</div>

			<div class="row" ng-if="item.validation">
				<div class="col-12">
					<p ng-if="item.validation.status === 'waiting'">Carregando</p>
					<p ng-if="item.validation.status === 'done'">{{ item.validation.result.results | json }}</p>
					<!-- <a
						ng-if="item.validation.status === 'done'"
						ng-href="{{ 'contest.problem.solution.run.view' | url : list.parent.contest.nickname : list.parent.problem.nickname : item.nickname : item.validation.result.run_number }}"
					>Ver detalhes</a> -->
				</div>
			</div>
		</generic-list>

		<div class="row" ng-if="!vm.problem.deleted_at">
			<div class="col-6">
				<a
					ng-href="{{ 'contest.problem.solutionRun.list' | url : vm.contest.nickname : vm.problem.nickname }}"
				>Ver todas as execuções</a>
			</div>
			<div class="col-6">
				<a
					class="btn btn-primary float-right"
					role="button"
					ng-href="{{ 'contest.problem.solution.new' | url : vm.contest.nickname : vm.problem.nickname }}"
				>Adicionar solução</a>
			</div>
		</div>
	</div>

	<!-- test cases list -->
	<div class="container test-cases-list">
		<div class="row">
			<div class="col-12">
				<h4>Casos de teste:</h4>
			</div>
		</div>

		<generic-list
			items="vm.problem.test_cases"
			no-items-message="'Nenhum caso de teste cadastrado.'"
			headers="[
				{ label: '#',     class: 'col-8' },
				{ label: 'Ações', class: 'col-4' }
			]"
			parent="vm"
		>
			<div class="row">
				<div class="col-8">
					<a 
						ng-href="{{ 'contest.problem.testCase.view' | url : list.parent.contest.nickname : list.parent.problem.nickname : item._id }}"
					>#{{ $index+1 }}</a>
				</div>
				<div class="col-4">
					<button
						class="btn btn-danger"
						type="button"
						modal-confirm="list.parent.deleteTestCase(item)"
						modal-confirm-title="'Remover caso de teste'"
						modal-confirm-body="'Tem certeza que deseja remover este caso de teste?'"
					>
						<i class="fa fa-trash" aria-hidden="true"></i>
					</button>
				</div>
			</div>
		</generic-list>

		<div class="row" ng-if="!vm.problem.deleted_at">
			<div class="col-12">
				<a
					class="btn btn-primary float-right"
					role="button"
					ng-href="{{ 'contest.problem.testCase.new' | url : vm.contest.nickname : vm.problem.nickname }}"
				>Adicionar caso de teste</a>
			</div>
		</div>
	</div>

	<!-- actions -->
	<div class="container action-list">
		<div class="row">
			<div class="col-12">
				<a
					class="btn btn-primary float-right"
					role="button"
					ng-href="{{ 'contest.problem.edit' | url : vm.contest.nickname : vm.problem.nickname }}"
				>Editar problema</a>
			</div>
		</div>
	</div>
</div>