<navbar></navbar>

<alert-inactive
	ng-if="vm.contest.deleted_at"
	msg="'Este contest está inativo.'"
></alert-inactive>

<breadcrumbs
	ng-if="!vm.loading"

	contests="true"
	contest="vm.contest"
></breadcrumbs>

<div id="view-contest">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="page-title">{{ vm.contest.name }}</h1>
			</div>
		</div>

		<!-- info -->
		<div class="row">
			<div class="col-12">
				<p>
					Autor: 
					<a 
						ng-href="{{ 'user.view' | url : vm.contest.author.username }}"
					>{{ vm.contest.author.username }}</a>
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<p>Criado em: <span>{{ vm.contest.created_at | date:'dd/MM/yyyy' }}</span></p>
			</div>
		</div>
	</div>

	<!-- contributors list -->
	<div class="container contributors-list">
		<div class="row">
			<div class="col-12 list-header">
				<h4>Contribuidores:</h4>

				<a
					ng-if="!vm.contest.deleted_at"
					class="btn btn-primary float-right"
					role="button"
					ng-href="{{ 'contest.contributor.new' | url : vm.contest.nickname }}"
				>Adicionar contribuidor</a>
			</div>
		</div>

		<generic-list
			items="vm.contest.contributors"
			no-items-message="'Nenhum contribuidor cadastrado.'"
			headers="[
				{ label: 'Nome',  class: 'col-8' },
				{ label: 'Ações', class: 'col-4' }
			]"
			parent="vm"
		>
			<div class="row">
				<div class="col-8">
					<a 
						ng-href="{{ 'user.view' | url : item.username }}"
					>{{ item.username }}</a>
				</div>
				<div class="col-4" ng-if="list.parent.canI('delete_contributor')">
					<button
						class="btn btn-danger"
						type="button"
						modal-confirm="list.parent.deleteContributor(item)"
						modal-confirm-title="'Remover contribuidor'"
						modal-confirm-body="'Tem certeza que deseja remover este contribuidor?'"
					>
						<i class="fa fa-trash" aria-hidden="true"></i>
					</button>
				</div>
			</div>
		</generic-list>
	</div>

	<!-- problems list -->
	<div class="container problems-list">
		<div class="row">
			<div class="col-12 list-header">
				<h4>Problemas:</h4>

				<a
					ng-if="!vm.contest.deleted_at"
					class="btn btn-primary float-right"
					role="button"
					ng-href="{{ 'contest.problem.new' | url : vm.contest.nickname }}"
				>Adicionar problema</a>
			</div>
		</div>

		<generic-list
			items="vm.problemsList"
			no-items-message="'Nenhum problema cadastrado.'"
			headers="[
				{ label: 'Nome',  class: 'col-8' },
				{ label: 'Ações', class: 'col-4' }
			]"
			parent="vm"
		>
			<div class="row">
				<div class="col-8">
					<a 
						ng-href="{{ 'contest.problem.view' | url : list.parent.contest.nickname : item.nickname }}"
					>{{ list.parent.getProblemLetter(item) + ' - ' + item.name }}</a>
					<span ng-if="item.deleted_at">(Removido em {{ item.deleted_at | date:'dd/MM/yyyy' }})</span>
				</div>
				<div class="col-4" ng-if="list.parent.canI('delete_problem', item)">
					<button
						class="btn btn-danger"
						type="button"
						modal-confirm="list.parent.deleteProblem(item)"
						modal-confirm-title="'Remover problema'"
						modal-confirm-body="'Tem certeza que deseja remover este problema?'"
					>
						<i class="fa fa-trash" aria-hidden="true"></i>
					</button>
				</div>
			</div>
		</generic-list>
	</div>

	<!-- boca zip list -->
	<div class="container boca-list">
		<div class="row">
			<div class="col-12">
				<h4>Exportar arquivos:</h4>
			</div>
		</div>

		<div class="row" ng-if="!vm.latestBocaZip">
			<div class="col-12">
				<p>Contest ainda não foi exportado.</p>
			</div>
		</div>

		<div class="row" ng-if="vm.latestBocaZip">
			<div class="col-12">
				<p>Data da última exportação: {{ vm.latestBocaZip.timestamp | date : 'dd/MM/yyyy HH:mm' }}</p>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<button
					type="button"
					class="btn btn-primary"
					ng-click="vm.generateZip();"
				>
					<i class="fa fa-file-archive-o" aria-hidden="true"></i>
					Exportar
				</button>

				<button
					ng-if="vm.latestBocaZip"
					type="button"
					class="btn btn-primary"
					ng-click="vm.downloadZip(vm.latestBocaZip.versionId);"
				>
					<i class="fa fa-download" aria-hidden="true"></i>
					Download
				</button>
			</div>
		</div>
	</div>

	<!-- actions -->
	<div class="container action-list">
		<div class="row" ng-if="!vm.contest.deleted_at && vm.me.permissions && vm.me.permissions.delete_contest">
			<div class="col-12">
				<button
					class="btn btn-danger float-right"
					type="button"
					modal-confirm="vm.deleteContest(problem)"
					modal-confirm-title="'Desativer contest'"
					modal-confirm-body="'Tem certeza que deseja desativar este contest?'"
				>Desativar contest</button>
			</div>
		</div>
	</div>
</div>