
body {
	padding-bottom: 30px;
}

.page-title {
	padding: 30px 0px;
}

.form-label-static {
	margin-bottom: 0rem;
}

.table td p {
	margin-bottom: 0px;
}

.action-list {
	padding-top: 20px;
}

.loading-button {
	padding: 0px;

	height: 38px;
	width:  46px;

	img {
		height: 28px;
		width:  28px;
	}
}
